---
import "../styles/global.css";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Body from "../layouts/empty.astro";

const items = [
  { title: "Games" },
  { title: "Hobbies" },
  { title: "Food" },
  { title: "School" },
  { title: "Misc" },
  { title: '"Food"' },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Andrew Zhang</title>
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/aboutme/profilepic.png">
  </head>
  <style>
    h1 {
      font-size: 80px;
      line-height: 0;
    }
    h3 {
      font-size: 40px;
      line-height: 1;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      margin: 2rem 0;
    }
    .card {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      height: 150px;
      background-color: rgb(255, 219, 245);
      box-shadow: 3px 3px 3px rgb(255, 180, 236);
      transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .card:hover {
      background-color: #ffe7fb;
      transform: translateY(-3px);
      box-shadow: 5px 5px 10px rgba(255, 180, 236, 0.6);
    }
    .overlay {
      display: none;
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 10;
    }
    .modal {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgb(255, 241, 254);
      border-radius: 10px;
      padding: 2rem;
      z-index: 20;
      min-width: 400px;
      max-width: 600px;
      max-height: 80vh;
      overflow-y: auto;
    }
    .modal-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      background: none;
      border: none;
      font-size: 1.5rem;
      color: rgb(119, 0, 91);
    }
    .overlay.active,
    .modal.active {
      display: block;
    }
    .circle {
      border-radius: 50%;
    }

  </style>

  

  <Body>
    <div class="content">
      <div style="display:none">
    <div id="content-0" >
      <h4 style="text-align: center">
        I really like games! <br>
      </h4>
      <p>
        Card games, Board games, but honestly mostly Video games (oops). I think games are great. They make me think in new and interesting ways, are a great way to
        spend time with others, and in general just make me smile : ) <br>
      </p>
      <h4 style="text-align: center">some of my favourite games/franchises :</h4>
      <p style="text-align: center">
        Slay the Spire<br>
        Celeste <br>
        Polybridge<br>
        Stephen Sausage Roll <br>
        Kirby <br>
        Factorio <br>
        Ace Attorney <br>
        Stardew Valley <br>
        Paper Mario TTYD
        </p>
        <h4 style="text-align: center">some fun facts:</h4>
        <p style="text-align: center">
        The first game I've "owned" (not my brother's) is Mario Party 9 <br>
        The first console I've "owned" was the Nintendo Switch. I do have the Switch 2! <br>
        My first Steam game was Poly Bridge 2 <br>
        </p>
        <h4 style="text-align: center">an unfun fact:</h4>
        <p style="text-align: center">I have some amount over 100k mastery points on Yuumi <br> 
        </p>
        
        
        
    </div>

    <div id="content-1" >
      <h4 style="text-align: center">I have hobbies??? </h4>
      <p>I have some hobbies that are not game involved. I usually don't invest a crazy amount into most of them like going to tournaments or whatnot
        but its fun to be able to do different things! 
      </p>
      <h4 style="text-align: center">art</h4>
        <p style="text-align: center"> I had an art teacher in highschool, and I learned painting from him. I really liked how hands off he was, so 
          I feel pretty proud about what I've done. I like almost every painting I've done since I switched from acrylic to oil. He also had a cool summer camp where 
          I got to paint outside with him. I might share some of it at some point
        </p>
        <h4 style="text-align: center">puzzles</h4>
        <p style="text-align: center"> OK maybe these are games too, but like they are kinda different maybe. My favourite kind are things like sudoku, kakuro, 
          and the like, so not really jigsaws. I especially like sudoku variants recently. Daily puzzles like the NYT games are fun too, but I struggle with word puzzles
          quite a bit. Linkedin Queens has been probably my favourite daily puzzle for the past while.
        </p>
        <h4 style="text-align: center"> some other smaller ones:</h4>
        <p style="text-align: center"> 
          Piano<br>
          Badminton <br>
          Juggling! (I can only do 3 balls right now) <br>
          Collecting Stationary

          <br><br>
          In highschool I also did robotics on FRC 7476 and that was a great time
        </p>
    </div>

    <div id="content-2" >
      <h4 style="text-align: center">favourite foods</h4>
      <p style="text-align: center">
        Hong shao Rou: I dont know why, but I only really love my Mom's. Other places are good, but not the same <br><br>
        Noodles: I like dry noodles, soupy noodles, spicy noodles, nonspicy noodles, wide noodles, <br> noodles that are not noodles but are pasta, thin noodles, thick noodles, all noodles <br><br>
        Pocky: I have eaten sooooo many pocky. I have tried as many varities as I can. I collect pocky boxes  <br><br>
        Sushi: When I was very young, I used to only eat sushi rice when I went to AYCE sushi with my family.<br> Now I try to eat as much sashimi as I can...<br><br>
        Cheesecake: I liked it to the point it's my username in some places. I have fond memories of eating <br> Uncle Tetsu's Japanese cheesecake when my brother visited home


      </p>
      <h4 style="text-align: center"></h4>
      <p></p>
    </div>

    <div id="content-3" >
      <p style="text-align: center">I go to UofT! I'm in first year. I will elaborate further in the future...</p>
    </div>

    <div id="content-4" >
      <p>I really dislike apples as fruit. I think they are on average sandy, disgusting, gross, dry, grainy, terrible. I don't even know if I actually dislike them that much
        but I'm so committed to disliking them that I do. I wrote a poem in grade 4 about how I disliked them. My discord username often is a remark about my distaste for apples. I dont even 
        have to eat apples very often anymore. The juice and pies that come from it are honestly fine. I just hate the concept of apples. You know what I hate about discussion 
        about apples. People always say "theres so many apples to try!!! maybe you should try this one!!! the cosmic crisp is actually the best apple ever!!!" and it is very 
        irritating. I actually agree that the cosmic crisp is meaningfully better than the average apple. The issue is that who cares if you have 10000 apple varieties
        if half of them are bad? like its as if a company asks do you want your salary to be $1, $2, 3$, 4$, 5$, 6$, 7$, $8$, 9, 10 11121231231209741982348970247091287490812
        ........ 10000 and then are like "we are so generous! there are so many different salaries to try!". like yeah 10000 dollars is a good amount of dollars 
        i suppose. I could buy a lot of stuff with 10000. but apples are not good because i can buy stuff with 10000. I remember reading about the red delicious. I think
        in my salary example the red delicious would probably be the $1 option. Allegedly they were bred to look pretty at the cost of flavour and texture. I think they dont 
        even look that pretty, but they are the sandiest of apples i've had. My elementary school had this crab apple tree and the apples I ate off the sandy ground when I was 7 
        were less sandy. Am I being unfair to apples though? the cosmic crisp is probably like $100000 for someone who doesnt hate apples. It's like so much meaningfully better 
        as an apple. Heres the thing though. If you only like the $100000 dollar apple do you really like apples. Like if you like less than a percent of apples can you 
        really say that you like apples. If 1000 people come up to you and then punch you in the face, but one of the people in the group said hi before they punched you
        would you say that the group gave you an overall positive experience. definitely no. i think another thing to consider is the name. what does it even mean. like i know
        an orange is orange, and that strawberries should be eaten with straws, but what do i know about apples? are they phones? not really. so misleading. 

        <br><br>

      </p>
    </div>

    <div id="content-5" >
      <h4 style="text-align: center"> unethical food</h4>
      <p style="text-align: center">
        On one fateful day, my mom's 3 hour old salad was sitting on the counter. I ate a crouton, and noticed how it had absorbed some
        dressing, and was definitely soggy, but was still crunchy and more flavourful than any other crouton. <br>

        I thought "can i acheive this interesting texture by soaking my croutons in water?"" that day, soggy croutons entered the world. <br>
        <br>
        do I genuinely enjoy eating food put under running water? yes. <br>
        Is it better? ehhh sometimes. I prefer watery oreos. If timed well, food can still be crunchy <br>
        
        <br>
        There are also some interesting combos I've tried. They are mostly fun ideas I've had. I generally don't go in expecting them to be good. Some 
        condiment related ones were the worst, such as ketchup + mustard + relish in yogurt. not good. 
      </p>
      <div style="text-align: center">
        <a href = https://docs.google.com/spreadsheets/d/1naxUmAhLWzMMwzdOtGEhyBNtNehOmT8LzQlDPNdfFFM/edit?gid=1168495569#gid=1168495569 class = centerer> see a spreadsheet here!</a>

      </div >
      
    </div>
     </div>

      <br>
      <h1 style = text-align:center;>HI</h1>
      <br>
      <img src="/aboutme/profilepic.png" class = circle>
      <br>
      <p style = text-align:center>
        Welcome to my website! I'm Andrew Zhang <br>
        See  <a href="/blog/blablabla">blablabla</a> to read my thoughts and <a href="/projects/stuff">projects</a> to see stuff I've done
      </p>

      <h3 style = text-align:center>
        About Me!!!
      </h3>
      

      

      <div class="grid">
        {
          items.map((item, i) => (
            <div class="card" onclick={`openModal(${i})`}>
              <h2 class = "centerer">{item.title}</h2>
            </div>
          ))
        }

        
      </div>


      <p style = text-align:center>If you wish to contact me, email me at <a href="mailto:andrewzhang927@gmail.com">andrewzhang927@gmail.com</a></p>
    </div>

    <div class="overlay" id="overlay" onclick="closeModal()"></div>
    <div class="modal" id="modal">
      <button class="modal-close" onclick="closeModal()">✕</button>
      <h2 class = centerer id="modal-title"></h2>
      <div class = content id="modal-body"></div>
    </div>
      
  </Body>
</html>




<script define:vars={{ items }}>
  window.openModal = function (i) {
    const title = document.getElementById("modal-title");
    const body = document.getElementById("modal-body");
    const modal = document.getElementById("modal");
    const overlay = document.getElementById("overlay");

    title.textContent = items[i].title;
    body.innerHTML = document.getElementById(`content-${i}`)?.innerHTML ?? "Coming soon...";
    modal.classList.add("active");
    overlay.classList.add("active");
  };

  window.closeModal = function () {
    document.getElementById("modal")?.classList.remove("active");
    document.getElementById("overlay")?.classList.remove("active");
  };
</script>
