---
import Navbar from './navbar.astro';
---
<head>
  <style>
    :global(body) { margin: 0; }
    header {
      width: 100%;
      background-color: pink;

      position:fixed;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100ch;
      margin: 0 auto;
      padding: 1rem; 
      color: black;
    
    }
    .header-spacer {
        height: 5rem;
    }
  </style>
</head>

<header>
  <nav>
    <p class = content>andrew&nbsp;zhang</p>
    <Navbar />
  </nav>
</header>
<div class = header-spacer></div>