---
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/blog/blablabla">Blablabla</a>
    <a href="/projects/stuff">Projects</a>
    <div class="centerer"  style="display: flex; justify-content: center; gap: 1rem;">
        <a href="https://github.com/applesarebad">
          <span class="iconify" data-icon="mdi:github"></span>
        </a>
        <a href="https://www.linkedin.com/in/andrew-zhang-b25783357/">
          <span class="iconify" data-icon="mdi:linkedin"></span>
        </a>
      </div>
  </div>